 body{
    margin: 0px;
    background-color:lightgray; 
 }
.button{
            padding-left: 10px;
            padding-right: 10px;
            padding-top:6px;
            padding-bottom: 6px;
            border:rgb(56, 56, 100)  solid 0.5px;
            border-radius: 25px;
            text-align: center;
            background-color:rgba(43,114,94,255);
            margin-right: 10px;
            margin-left:10px;
        }

.title{
            color: black;
            font-size:30px;
            font-weight: bold;
            padding-left:10px;
            padding-bottom: 0px; 
    }

.time{
            color:rgb(11, 9, 9);
            padding-left:10px; 
            padding-top:1px;
    }

.dis{
            padding-left:10px
    }

.sub-div{
            background-color:rgb(201, 187, 187); 
            
        }

.task-title{
                font-weight:bold;
                font-size:30px;
                padding:0px;
            }

.sub-header{
            display: flex;
            justify-content: space-between;
            margin-right: 3%;
            margin-left: 3%;
            margin-top:1%;
    }

.button-div{
            all:unset;
            display: flex;
            justify-content:start;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-left: 10px;
            padding-left: 10px;
        
}

.delete-button{
            background-color: rgb(178, 35, 35);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            border:solid 0.5px gray;
            margin-left: 30px;
        }
.delete-button:hover{
            color: rgb(217, 69, 5);
            background-color: rgb(214, 174, 174);
        }
    
.edit-link{
    text-decoration: none;
    color: white;    
}

.edit-button{
            padding: 5px 10px;
            border-radius: 5px;
            border:solid 0.5px gray;
            background-color: rgb(11, 72, 227);
            
}

.newtask{
    background-color: rgba(43,114,94,255);
    border-radius: 5px;
    border:solid 0.5px gray;
    padding: 15px 20px;
    
}

.logout{
    background-color: rgba(43,114,94,255);
    border:none;
    color: white;
    padding: 10px 13px;
    margin-left:auto;
    margin-right:auto ;
}

.logout:hover{
    color: aqua;
    cursor:pointer;
}

a{
    text-decoration: none;
    color: white;
}

/* .sub-navbar{
    display: flex;
    justify-content: start;

} */

.nav-wrapper{
    background-color: rgba(43,114,94,255);
    padding-top: 2%;
    padding-bottom: 1%;

}

.navbar{
    
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size:larger ;
    margin-left: 3%;
    margin-right: 3%;
}



.navbar button{
    font-size: large;
}

.main-div{
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(232, 218, 218); 
    margin-top:10px;
}


.div-title{
    padding:20px;
}

.dashboard-link{
    margin-left:10px;
}

.home-link{

}

.content-head{
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.filter-and-newtask{
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    align-items: center;
}

.filter{
    margin-top: 15px;
    width: 48rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 0.5px gray;
    background-color: rgba(43,114,94,255);
    color: white;   
    font-weight: bold;
}

.sub-filter{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.filter-text{
    font-weight:600;
    color: black;
    font-size:large;
    margin-right: 5px;
    margin-top: 15px;
}



.filter-status{
    margin-right: 20px;
}